<%= f.error_messages %>
(* = required field)<br/>
<table id="styled_form_table">
	<tr>
		<td id="label_column">*Team Name:</td>
		<td id="field_column">
			<%= hidden_field_tag :location_id, params[:id] %>
			<%= f.text_field :name, :autocomplete => 'off' %>
			<span id="team_name_result"></span>
			<%= spinner('team_name') %>
		</td>
	</tr>
	<tr>
		<td>*Ministry:</td>
		<td>
			<%= f.select :lane, grouped_options_for_select({"Ministries" => @strategies.invert, "City Gates" => Activity.city_strategies.invert }, @team.lane) %>
		</td>
	</tr>
	<tr>
		<td>Region:</td>
		<td>
			<%= f.select :region, options_for_select([''] + @regions.collect {|r| [r.name, r.region]}, @team.region) %>
		</td>
	</tr>
	<tr>
		<td>Address 1:</td>
		<td>
			<%= f.text_field :address1 %>
		</td>
	</tr>
	<tr>
		<td>Address 2:</td>
		<td>
			<%= f.text_field :address2 %>
		</td>
	</tr>
	<tr>
		<td>City:</td>
		<td>
			<%= f.text_field :city %>
		</td>
	</tr>
	<tr>
		<td>State:</td>
		<td>
			<%= f.select :state, options_for_select(@states, @team.state) %>
		</td>
	</tr>
	<tr>
		<td>Zip:</td>
		<td>
			<%= f.text_field :zip %>
		</td>
	</tr>
	<tr>
		<td>*Country:</td>
		<td>
			<%= f.select :country, options_for_select(@countries, @team.country) %>
		</td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td>
			<%= f.text_field :phone %>
		</td>
	</tr>
	<tr>
		<td>Fax:</td>
		<td>
			<%= f.text_field :fax %>
		</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>
			<%= f.text_field :email %>
		</td>
	</tr>
	<tr>
		<td>CCC Webpage:</td>
		<td>
			<%= f.text_field :url %>
		</td>
	</tr>
	<% if @team.can_deactivate? %>
		<tr>
			<td>Is this Team Active?</td>
			<td>
				<%= f.radio_button :isActive, "T" %>Yes
    		<%= f.radio_button :isActive, "F" %>No
			</td>
		</tr>
	<% end %>
	<tr>
		<td>Note:</td>
		<td>
			<%= f.text_area :note %>
		</td>
	</tr>
</table>
