<h2><%= Region.full_name(@region) %></h2>
<b>Look for your Team by selecting the State below:</b><br/>
<% @states.each do |ta| %>
  <%= link_to State.states[ta.state], team_state_path(@region, ta.state) %>
  <%= link_to "(all)", team_state_all_path(@region, ta.state, "all") %><br/>
<% end %>
<br/><br/>
<b>Or look for your Team in the Countries below:</b><br/>
<% @countries.each do |ta| %>
  <%= link_to Country.full_name(ta.country), team_country_path(@region, ta.country) %>
  <%= link_to "(all)", team_country_all_path(@region, ta.country, "all") %><br/>
<% end %>
