<h2><%= Region.full_name(@region) %></h2>
<b>Look for your Team by selecting the State below:</b><br/>
<% @states.each do |ta| %>
  <%= link_to State.states[ta.state], region_teams_path + "/" + @region + "/state/" + ta.state %>
  <%= link_to "(all)", region_teams_path + "/" + @region + "/state/" + ta.state + "/all" %><br/>
<% end %>
<br/><br/>
<b>Or look for your Team in the Countries below:</b><br/>
<% @countries.each do |ta| %>
  <%= link_to Country.full_name(ta.country), region_teams_path + "/" + @region + "/country/" + ta.country %>
  <%= link_to "(all)", region_teams_path + "/" + @region + "/country/" + ta.country + "/all" %><br/>
<% end %>
