<div class="associate">
  <h2>Add a Contact for <%= @location.name %>, <%= Activity.strategies[@movement.strategy] %></h2>
  <%= form_tag movement_search_contacts_results_path(@location, @movement) do %>
    Search by <i>Last Name</i>.  If the person you wish to add is not in the list below, check the spelling of his or her last name and try again.<br/>
    <%= text_field_tag :last_name, @last_name %>
    <%= submit_tag "Search" %>
  <% end %>
  <br/>
  <% if @results %>
    Here is a list of people in the Campus Ministry system.<br/>
    Select which one you want to add as a Movement Contact.<br/>
    <%= form_tag movement_add_contact_path(@location, @movement) do %>
      <%= select_tag :id, options_for_select(@results.collect {|r| [r.full_name + " (" + r.email + ")", r.personID]}) %>
      <%= submit_tag "Add Contact" %>
    <% end %>
    <br/>
    If you still cannot find him or her,
    <%= link_to "click here.", movement_new_contact_path(@location, @movement) %><br/>
  <% end %>
  <%= link_to "Cancel", location_path(@location) %>
</div>
