<h1>
  <%= @person.name_with_nick %>
</h1>

<h3 class="indented">
   Details about this Person
</h3>
  
<div class="strategy">
  <div class="details">
    <div class="thecolumn">

      <div class="field">
        <label>Address:</label>
        <div class="box">
          <% if @person.current_address %>
            <%= @person.current_address.address1 %>&nbsp;<%= @person.current_address.address2 %><br/>
            <%= @person.current_address.city %><%= (@person.current_address.state.blank? || @person.current_address.city.blank? ? "" : ",") %>
            <%= @person.current_address.state %><br/>
            <%= @person.current_address.zip %><%= (@person.current_address.country.blank? || @person.current_address.zip.blank? ? "" : ",") %>
            <%= @person.current_address.country %>
          <% else %>
            &nbsp;
          <% end %>
        </div>
      </div>

      <div class="field">
        <label>Region:</label>
        <%= Region.full_name(@person.region) %>
      </div>
      <br/>

      <div class="field">
        <label>Work Phone:</label>
        <%= @person.current_address.work_phone if @person.current_address %>                            
      </div>
      <br/>

      <div class="field">
        <label>Mobile Phone:</label>
        <%= @person.current_address.cell_phone if @person.current_address %>
      </div>
      <br/>

      <div class="field">
        <label>Home Phone:</label>
        <%= @person.current_address.home_phone if @person.current_address %>
      </div>
      <br/>

      <div class="field">
        <label>Email:</label>
        <a href="mailto:<%= @person.email %>"><%= @person.email %></a>
      </div>
      <br/>

      <div class="clear"></div>
    </div>
    
    <div class="thecolumn">

      <div class="field">
        <label>Missional Teams:</label>
        <div class="box">
          <% @person.teams.each do |team| %>
            <%= link_to team.name, team_path(team) %><br/>
          <% end %>
        </div>
      </div>
      <br/>
    
      <div class="field">
        <label>Ministry:</label>
        <%= @person.ministry %>
      </div>
      <br/>

      <% if (@person.ministry == "Campus Ministry") %>
        <div class="field">
          <label>Ministry Type:</label>
          <%= @person.staff.strategy if @person.staff %>
        </div>
        <br/>
      <% else %>
        <div class="field">
          <label>Dept. Name:</label>
          <%= @person.staff.deptName if @person.staff  %>
        </div>
        <br/>
        <div class="field">
          <label>Job Code:</label>
          <%= @person.staff.jobCode if @person.staff  %>
        </div>
        <br/>
      <% end %>
  
      <div class="field">
        <label>Job Title:</label>
        <%= @person.staff.jobTitle if @person.staff  %>
      </div>
      <br/>
      
      <div class="field">
        <label>Job Status:</label>
        <%= @person.staff.jobStatus if @person.staff  %>
      </div>
      <br/>
  
      <div class="field">
        <label>Birthday:</label>
        <%= display_date_short(@person.birth_date) %>
      </div>
      <br/>

      <div class="field">
        <label>Hire Date:</label>
        <%= display_date(@person.staff.hireDate) if @person.staff  %>
      </div>
      <br/>
  
      <div class="field">
        <label>Marital Status:</label>
        <%= @person.marital_status %>        
      </div>
      <br/>
      
      <div class="field">
        <label>Note:</label>
        <%= @person.staff.note if @person.staff  %>        
      </div>  

      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>  
</div><!-- righthand -->
<% if !@person.activities.empty? %>
  <div class="lefthand">
    <h3 class="indented">
      This person is responsible for the following movements:
    </h3>
    <table class="movements">
      <tbody>
        <tr>
          <th>Location</th>
          <th>Ministry</th>
          <th>Status</th>
          <th>Size</th>
          <th>&nbsp;</th>
        </tr>
        <% @person.activities.each do |activity| %>
          <% if activity.is_active? %>
            <tr>
              <td><%= link_to activity.target_area.name, location_path(activity.target_area) %></td>
              <td><%= Activity.strategies[activity.strategy] %></td>
              <td><%= Activity.statuses[activity.status] %></td>
              <td><%= activity_size(activity) %></td>
              <td><%= link_to "Enter Stats", location_movement_path(activity.target_area, activity) + "/stats" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
