<h1>
  <%= @person.full_name %>
</h1>
<br/>

<h3>
   Details about this Person
</h3>
  
<div class="strategy">
  <div class="details">
    <div class="thecolumn">

      <div class="field">
        <label>Address:</label>
        <div class="box">
          <%= @person.current_address.address1 + @person.current_address.address2 %><br/>
          <%= @person.current_address.city + (@person.current_address.state.blank? && @person.current_address.city.blank? ? "" : ",") %>
          <%= @person.current_address.state %><br/>
          <%= @person.current_address.zip + (@person.current_address.country.blank? && @person.current_address.zip.blank? ? "" : ",") %>
          <%= @person.current_address.country %>
        </div>
      </div>

      <div class="field">
        <label>Region:</label>
        <%= Region.full_name(@person.region) %>
      </div>
      <br/>

      <div class="field">
        <label>Work Phone:</label>
        <%= @person.current_address.work_phone %>                            
      </div>
      <br/>

      <div class="field">
        <label>Mobile Phone:</label>
        <%= @person.current_address.cell_phone %>
      </div>
      <br/>

      <div class="field">
        <label>Home Phone:</label>
        <%= @person.current_address.home_phone %>
      </div>
      <br/>

      <div class="field">
        <label>Email:</label>
        <a href="mailto:<%= @person.email %>"><%= @person.email %></a>
      </div>
      <br/>

      <div class="clear"></div>
    </div>
    
    <div class="thecolumn">

      <div class="field">
        <label>Missional Teams:</label>
        <div class="box">
          <% #@person.teams %>
        </div>
      </div>
      <br/>
    
      <div class="field">
        <label>Ministry:</label>
        <%= @person.ministry %>
      </div>
      <br/>

      <% if (@person.ministry == "Campus Ministry") %>
        <div class="field">
          <label>Ministry:</label>
          <%= @person.staff.strategy %>
        </div>
        <br/>
      <% else %>
        <div class="field">
          <label>Dept. Name:</label>
          <%= @person.staff.deptName %>
        </div>
        <br/>
        <div class="field">
          <label>Job Code:</label>
          <%= @person.staff.jobCode %>
        </div>
        <br/>
      <% end %>
  
      <div class="field">
        <label>Job Title:</label>
        <%= @person.staff.jobTitle %>
      </div>
      <br/>
      
      <div class="field">
        <label>Job Status:</label>
        <%= @person.staff.jobStatus %>
      </div>
      <br/>
  
      <div class="field">
        <label>Birthday:</label>
        <%= display_birthday(@person.birth_date) %>
      </div>
      <br/>

      <div class="field">
        <label>Hire Date:</label>
        <%= display_date(@person.staff.hireDate) %>
      </div>
      <br/>
  
      <div class="field">
        <label>Marital Status:</label>
        <%= @person.marital_status %>        
      </div>
      <br/>
      
      <div class="field">
        <label>Note:</label>
        <%= @person.staff.note %>        
      </div>  

      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>  
</div><!-- righthand -->