<% klass = row.target_area.isSecure != "F" ? "sensitive" : "muster_cell"%>
<tr>
  <td class="<%= klass %>">
    <%= link_to row.target_area.name, location_path(row.target_area) %>
    <%= " (sensitive)" if row.target_area.isSecure != "F" %>
  </td>
  <td class="<%= klass %>"><%= Activity.statuses[row.get_activity_history_for_date(date).status] %></td>
  <td class="<%= klass %>"><%= Activity.strategies[row.strategy] %></td>
  <td class="<%= klass %>"><%= Region.full_name(row.target_area.region) %></td>
  <td class="<%= klass %>"><%= row.target_area.city %></td>
  <td class="<%= klass %>"><%= row.target_area.state %></td>
  <td class="<%= klass %>"><%= row.target_area.country %></td>
  <% if row.team %>
    <td class="<%= klass %>"><%= link_to row.team.name, team_path(row.team) %></td>
  <% end %>
</tr>
