<!-- TODO: Handle secure locations -->
<tr>
  <td class="muster_label_light"><%= row.target_area.name %></td>
  <td class="muster_light"><%= row.strategy %></td>
  <td class="muster_darker"><%= row.target_area.region %></td>
  <td class="muster_light"><%= row.target_area.city %></td>
  <td class="muster_darker"><%= row.target_area.state %></td>
  <td class="muster_light"><%= row.target_area.country %></td>
  <td class="muster_darker"><%= row.team.name %></td>
</tr>
