<% if @type == "movement" %>
  <style type="text/css">
    div#muster_report  td.label_darker_blue {
      width:352px;
    }
  </style>
<% end %>

<h1>Movement Tracker Report</h1>
<div id="muster_report">
  <p>
    <b><%= @report_title %></b><br/>
    <% strategies = "" %>
    <% @strategies_list.each do |strategy| %>
      <% strategies += Activity.strategies[strategy] + ", " %>
    <% end %>
    <% if !strategies.blank? %>
      Including strategies: <%= strategies.chop.chop %>
    <% end %>
    <br/>

    <% order = "" %>
    <% @order.each_key do |key| %>
      <% order += @order[key].capitalize + ", " if !@order[key].blank?%>
    <% end %>
    <% if !order.blank? %>
      Sorted By: <%= order.chop.chop %>
    <% end %>
  </p>

  <table id="muster_report">

    <%= render :partial => 'report_header', :locals => {:type => @type, :enrollment => @enrollment_total} %>
    <% @rows.each do |row| %>
      <% case @type %>
      <% when "movement" %>
        <%= render :partial => 'report_row_movement', :locals => {:type => @type, :row => row, :date => @date} %>
      <% when "location" %>
        <%= render :partial => 'report_row_location', :locals => {:type => @type, :row => row} %>
      <% else %>
        <%= render :partial => 'report_row_team', :locals => {:type => @type, :row => row} if row.team %>
      <% end %>
    <% end %>
    <%= render :partial => 'report_footer', :locals => {:type => @type, :rows => @rows, :enrollment => @enrollment_total} %>

  </table>
</div>
