<div id="menuBar" >
  <div id="mainNav">
    <ul>
      <li <%= @menubar == "home" ? "class='selected'" : "" %>>
        <%= link_to "Home", root_path %>
      </li>
      <li <%= @menubar == "ministry" ? "class='selected'" : "" %>> <!--TODO: add class="selected" to the current section-->
        <%= link_to "Ministry", locations_path %>
      </li>
      <li <%= @menubar == "stats" ? "class='selected'" : "" %>> <!--TODO: add class="selected" to the current section-->
        <%= link_to "Enter Stats", people_path %>
      </li>
      <li <%= @menubar == "reports" ? "class='selected'" : "" %>> <!--TODO: add class="selected" to the current section-->
        <%= link_to "View Reports", people_path %>
      </li>
    </ul>
  </div><!-- end mainNav -->

  <div id="tab1" class="submenubar">
    <ul>
      <% if @menubar == "ministry" %>
        <li class="ministry">&nbsp;</li>
        <li>
          <%= link_to "Locations", locations_path, :class => (@submenu == "locations" ? "active" : "") %>
        </li>
        <li>
          <%= link_to "People", people_path, :class => (@submenu == "people" ? "active" : "") %>
        </li>
        <li>
          <%= link_to "Teams", people_path, :class => (@submenu == "teams" ? "active" : "") %>
        </li>
      <% elsif @menubar == "reports" %>
        <li class="report">&nbsp;</li>
        <li>
          <a href=""></a>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="quickSearch"> 
  </div>
</div>