<div id="menuBar" >
  <div id="mainNav">
    <ul>
      <li <%= @menubar == "home" ? "class='selected'" : "" %>>
        <%= link_to "Home", root_path %>
      </li>
      <li <%= @menubar == "ministry" ? "class='selected'" : "" %>>
        <%= link_to "Ministry", locations_path %>
      </li>
      <li <%= @menubar == "stats" ? "class='selected'" : "" %>>
        <%= link_to "Enter Stats", people_path %>
      </li>
      <li <%= @menubar == "reports" ? "class='selected'" : "" %>>
        <%= link_to "View Reports", people_path %>
      </li>
    </ul>
  </div><!-- end mainNav -->

  <div id="tab1" class="submenubar">
    <ul>
      <% if @menubar == "ministry" %>
        <li class="ministry">&nbsp;</li>
        <li>
          <%= link_to "Locations", locations_path, :class => (@submenu == "locations" ? "active" : "") %>
        </li>
        <li>
          <%= link_to "People", people_path, :class => (@submenu == "people" ? "active" : "") %>
        </li>
        <li>
          <%= link_to "Teams", teams_path, :class => (@submenu == "teams" ? "active" : "") %>
        </li>
      <% elsif @menubar == "reports" %>
        <li class="report">&nbsp;</li>
        <li>
          <a href=""></a>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="quickSearch">
    <%= form_tag ('/home/search') do %>
      <%= select_tag :type, options_for_select({"Find a Person:" => "people", "Find a Location:" => "locations", "Find a Team:" => "teams"}, @submenu) %>
      <%= text_field_tag "search[namecity]" %>
      <%= submit_tag "Search" %>
    <% end %>
    <%= link_to "Advanced Search", search_people_path, :class => "open_close" %>
  </div>
</div>