<%= error_messages_for stat %><!-- TODO: Make more user-friendly messages -->
<% if !stat.kind_of?(Hash) && stat.activity %>
  <%= hidden_field_tag "stat[" + unique_name(stat) + "[fk_Activity]]", stat.activity.ActivityID %>
<% end %>
<%= hidden_field_tag "stat[" + unique_name(stat) + "[periodBegin]]", stat["periodBegin"] %>
<%= hidden_field_tag "stat[" + unique_name(stat) + "[periodEnd]]", stat["periodEnd"] %>
<%= hidden_field_tag "stat[" + unique_name(stat) + "[sp_year]]", stat["sp_year"] %>

<div class="schoolentry">
  <div class="aschool">
    <div class="thecolumn">
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','involved_students',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Student Attendees</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[invldStudents]]", stat["invldStudents"], :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','involved_students',200);" %>
      </div>
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','student_leaders',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Student Leaders</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[studentLeaders]]", stat["studentLeaders"], :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','student_leaders',200);" %>
      </div>
      
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','dollars_raised',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Dollars Raised</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[dollars_raised]]", stat["dollars_raised"], :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','dollars_raised',200);" %>
      </div>
    </div>

    <div class="thecolumn">
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','personal_evangelism',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Personal Evangelism</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[evangelisticOneOnOne]]", stat["evangelisticOneOnOne"], :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','personal_evangelism',200);" %>
      </div>
      
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','group_evangelism',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Group Evangelism</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[evangelisticGroup]]", stat["evangelisticGroup"], :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','group_evangelism',200);" %>
      </div>
      
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','media_exposures',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Media Exposures</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[exposuresViaMedia]]", stat["exposuresViaMedia"], :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','media_exposures',200);" %>
      </div>
      
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','holy_spirit_conversations',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Holy Spirit Presentations</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[holySpiritConversations]]", stat["holySpiritConversations"], :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','holy_spirit_conversations',200);" %>
      </div>
    </div>
    
    <div class="thecolumn">
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','decisions_personal',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Personal Evangelism Decisions</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[decisionsHelpedByOneOnOne]]", stat["decisionsHelpedByOneOnOne"], :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','decisions_personal',200);" %>
      </div>
      
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','decisions_group',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Group Evangelism Decisions</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[decisionsHelpedByGroup]]", stat["decisionsHelpedByGroup"], :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','decisions_group',200);" %>
      </div>
      
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','decisions_media',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Media Exposures Decisions</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[decisionsHelpedByMedia]]", stat["decisionsHelpedByMedia"], :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','decisions_media',200);" %>
      </div>

      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','spiritual_conversations',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Spiritual Conversations</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[spiritual_conversations]]", stat["spiritual_conversations"], :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','spiritual_conversations',200);" %>
      </div>
    </div>

    <div style="clear:both"></div>
    <div class="stats_info_surround">
      <div id="<%= unique_name(stat) %>_info_box" class="stats_info_box" >
      </div>
    </div>
  </div>
</div>
