<%= error_messages_for stat %><!-- TODO: Make more user-friendly messages -->
<%= hidden_field_tag "stat[" + unique_name(stat) + "[fk_Activity]]", stat.activity.ActivityID %>
<%= hidden_field_tag "stat[" + unique_name(stat) + "[periodBegin]]", stat.periodBegin %>
<%= hidden_field_tag "stat[" + unique_name(stat) + "[periodEnd]]", stat.periodEnd %>
<%= hidden_field_tag "stat[" + unique_name(stat) + "[peopleGroup]]", stat.peopleGroup %>

<div class="schoolentry">
  <div class="aschool">
    <h2>
      <%= Activity.strategies[stat.activity.strategy] %>&nbsp;<%= stat.peopleGroup %>&nbsp;&nbsp;
      <%= link_to "Edit", edit_location_movement_path(stat.activity.target_area, stat.activity), :class => "editicon edittext editbtn" %>
      <%= link_to "Unbookmark", unbookmark_location_movement_path(stat.activity.target_area, stat.activity), {:class => "unbookmark edittext editbtn", :method => :delete} %>
    </h2>
    <div class="thecolumn">
      <h4>Weekly Stats</h4>
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','personal_evangelism',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Personal Evangelism</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[evangelisticOneOnOne]]", stat.evangelisticOneOnOne, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','personal_evangelism',200);" %>
      </div>
      
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','group_evangelism',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Group Evangelism</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[evangelisticGroup]]", stat.evangelisticGroup, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','group_evangelism',200);" %>
      </div>
      
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','media_exposures',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Media Exposures</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[exposuresViaMedia]]", stat.exposuresViaMedia, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','media_exposures',200);" %>
      </div>

      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','spiritual_conversations',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Spiritual Conversations</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[spiritual_conversations]]", stat.spiritual_conversations, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','spiritual_conversations',200);" %>
      </div>
      
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','holy_spirit_conversations',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Holy Spirit Presentations</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[holySpiritConversations]]", stat.holySpiritConversations, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','holy_spirit_conversations',200);" %>
      </div>
    </div>
    
    <div class="thecolumn">
      <h4>&nbsp;</h4>
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','decisions_personal',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Personal Evangelism Decisions</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[decisionsHelpedByOneOnOne]]", stat.decisionsHelpedByOneOnOne, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','decisions_personal',200);" %>
      </div>
      
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','decisions_group',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Group Evangelism Decisions</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[decisionsHelpedByGroup]]", stat.decisionsHelpedByGroup, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','decisions_group',200);" %>
      </div>
      
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','decisions_media',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Media Exposures Decisions</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[decisionsHelpedByMedia]]", stat.decisionsHelpedByMedia, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','decisions_media',200);" %>
      </div>
      
      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','laborers_sent',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Graduating on Mission</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[laborersSent]]", stat.laborersSent, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','laborers_sent',200);" %>
      </div>

      <div class="field">
        <label onMouseOver="infoBox('<%= unique_name(stat) %>','faculty_sent',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Faculty on Mission</label>
        <%= text_field_tag "stat[" + unique_name(stat) + "[faculty_sent]]", stat.faculty_sent, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','faculty_sent',200);" %>
      </div>
    </div>

    <div class="thecolumn">
      <h4>Semester/Quarter Stats</h4>
      <p>The following are prefilled with the most recently entered stats.  If these numbers have changed, please update them below.</p>
      <div class="thecolumn">
        <h4>Students</h4>
        <div class="field">
          <label onMouseOver="infoBox('<%= unique_name(stat) %>','involved_students',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Involved</label>
          <%= text_field_tag "stat[" + unique_name(stat) + "[invldStudents]]", stat.invldStudents, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','involved_students',200);" %>
        </div>

        <div class="field">
          <label onMouseOver="infoBox('<%= unique_name(stat) %>','multipliers',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Engaged Disciples</label>
          <%= text_field_tag "stat[" + unique_name(stat) + "[multipliers]]", stat.multipliers, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','multipliers',200);" %>
        </div>
        
        <div class="field">
          <label onMouseOver="infoBox('<%= unique_name(stat) %>','student_leaders',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Leaders</label>
          <%= text_field_tag "stat[" + unique_name(stat) + "[studentLeaders]]", stat.studentLeaders, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','student_leaders',200);" %>
        </div>
      </div>
      
      <div class="thecolumn">
        <h4>Faculty</h4>
        <div class="field">
          <%= text_field_tag "stat[" + unique_name(stat) + "[faculty_involved]]", stat.faculty_involved, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','faculty_involved',200);" %>
        </div>

        <div class="field">
          <%= text_field_tag "stat[" + unique_name(stat) + "[faculty_engaged]]", stat.faculty_engaged, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','faculty_engaged',200);" %>
        </div>
        
        <div class="field">
          <%= text_field_tag "stat[" + unique_name(stat) + "[faculty_leaders]]", stat.faculty_leaders, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','faculty_leaders',200);" %>
        </div>
      </div>
      
      <% if Statistic.uses_seekers.include?(stat.activity.strategy) %>
        <div class="field">
          <label onMouseOver="infoBox('<%= unique_name(stat) %>','seekers',200);" onMouseOut="infoBoxClear('<%= unique_name(stat) %>');" >Seekers</label>
          <%= text_field_tag "stat[" + unique_name(stat) + "[seekers]]", stat.seekers, :id => "week 1", :class => "totalnumber", :onfocus => "infoBox('#{unique_name(stat)}','seekers',200);" %>
        </div>
      <% end %>
    </div>

    <div style="clear:both"></div>
    <div class="stats_info_surround">
      <div id="<%= unique_name(stat) %>_info_box" class="stats_info_box" >
      </div>
    </div>
  </div>
</div>
