<li id="<%= counter %>" class="">
  <a name="a<%= stat.activity.ActivityID %>" ></a>
  
  <!-- TODO: Make dates and checks line up -->
  <!-- School name and Red X's and Green Checks -->
  <table class="movementheader">
    <tr onClick="javascript:$('#<%= counter %>').toggleClass('selected');">
      <th class="expand"></th>
      <th class="schoolname" style="width: 87%;">
        <span style="float:left;padding-right:10px"><%= stat.activity.target_area.name %> - <%= Activity.strategies[stat.activity.strategy] %></span>
        <ul style="display:inline;float:right;">
          <% 14.downto(0) do |week_ago| %>
            <% sunday = current_week - week_ago.weeks %>
            <li class="checkmark <%= first_week(sunday) ? "first_week" : "" %>">
              <!-- TODO: link to each week -->
              <% if stat.activity.last_fifteen_stats.exists?({:periodBegin => sunday}) %>
                <%= image_tag "/images/greendot.gif" %>
              <% else %>
                <%= image_tag "/images/reddot.gif" %>
              <% end%>
            </li>
          <% end %>
        </ul>
      </th>
      <th class="bookmark"><a href="" class="unbookmark">Unbookmark</a></th><!-- TODO: Do bookmark functionality -->
    </tr>
  </table>
