<li id="<%= counter %>" class="">
  <a name="a<%= stat.activity.ActivityID %>" ></a>
  
  <table class="movementheader">
    <tr onClick="javascript:$('#<%= counter %>').toggleClass('selected');">
      <th class="expand"></th>
      <th class="schoolname" style="width:335px">
        <span style="display:inline;float:left;padding-right:10px;text-align:left"><%= stat.activity.target_area.name %> - <%= Activity.strategies[stat.activity.strategy] %></span>
      </th>
      <th class="bookmark"></th>
      <th class="schoolname">
        <ul class="checkmarks" style="display:inline;float:right;">
          <% 14.downto(0) do |week_ago| %>
            <% sunday = current_week - week_ago.weeks %>
            <li class="checkmark <%= first_week(sunday) ? "first_week" : "" %>">
              <%= link_to (stats_path + "?date=" + display_date_dash(sunday)) do %><!-- TODO: Hover gives dates? -->
                <% if stat.activity.last_fifteen_stats.exists?({:periodBegin => sunday}) %>
                  <%= image_tag "greendot.png" %>
                <% else %>
                  <%= image_tag "reddot.png" %>
                <% end%>
              <% end %>
            </li>
          <% end %>
        </ul>
      </th>
      
    </tr>
  </table>
