<script type="text/javascript" language="javascript">
  var infoTimer;
  var infoBoxEl;
  function infoBox(mW,info,left) {
    document.getElementById(mW+'_info_box').innerHTML=document.getElementById(info+'_info_box').innerHTML;
    infoBoxEl=document.getElementById(mW+'_info_box');
    infoBoxEl.style.left=left+'px';
    infoTimer=setTimeout("infoBoxEl.style.display='block';",200);
  }

  function infoBoxClear(mW) {
    clearTimeout(infoTimer);
    document.getElementById(mW+'_info_box').style.display='none';
    document.getElementById(mW+'_info_box').innerHTML='';
  }
</script>

<h1>Enter Stats for Special Event</h1>
<h2>Important:<br/>Do NOT enter stats here if they are tied to a particular Ministry Location, Summer Project, or CRS conference.</h2>
<div class="enter_stat" id="enter_stat">
  <div style="clear:both"></div>
  
  <div id="flash_notice">Warning: There are already stats in the database for the event and date you specified.</div>
  <%= form_tag confirm_digital_stats_path, :method => :put, :name => "fast_ll_stat", :id => "fast_ll_stat" do %>
    <%= hidden_field_tag 'redirect', @redirect %>
    <%= hidden_field_tag 'old_stat', @old_stat.id %>
    <%= hidden_field_tag 'periodBegin', @from_date %>
    <%= hidden_field_tag 'periodEnd', @to_date %>
    
    <%= render :partial => "display_stats", :locals => {:stat => @old_stat}%>
    
    <br/>
    <div id="flash_notice">Do you want to *add* your new stats (below) to the stats already in the database (above)?</div>
    
    <% javascript_counter = 0 %>
    <ul class="results" style="height: 337px;>
      <%= render :partial => "stat_entry", :locals => {:stat => @new_stat, :year => @year, :counter => javascript_counter} %>
      <% javascript_counter += 1 %>
    </ul>
    
    <center>
      <div class="stats_submit_surround">
        <%= submit_tag "Add Stats" %>
        <%= link_to "Cancel", digital_stats_path %>
      </div>
    </center>
  <% end %>
</div>

<script type="text/javascript" language="javascript">
  $('#0').toggleClass('selected');
</script>

<noscript>
  <style type="text/css">
    ul.results li{
      height: auto;
    }
  </style>
</noscript>

<div class="stats_input_key" id="input_key">
  <h4>Input Key</h4>
  <h5 style="margin:0px;margin-top:10px;">Personal Evangelism</h5>
  <div style="display:block" id="personal_evangelism_info_box">
    <b>How many people have heard the gospel through personal evangelism? <br/>
    (Includes both staff and student evangelism
     and personal internet evangelism.)</b>
  </div>
  <h5 style="margin:0px;margin-top:10px;">Group Evangelism</h5>
  <div style="display:block" id="group_evangelism_info_box">
    
    <b>What was the total number of people who heard the gospel through group evangelism? 
    <br/>(For instance: team meetings; evangelistic presentations; etc.)</b>
    
  </div>
  
  <h5 style="margin:0px;margin-top:10px;">Media Exposures</h5>
  <div style="display:block" id="media_exposures_info_box">
    
    <b>How many people have been exposed to significant gospel content with opportunities 
    to respond in the last month through media exposures? 
    <br>(For instance: myeverystudent.com/ES.com, FSKs; Bible, book or magazine giveaways; etc.)</b>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Personal Evangelism Decisions</h5>
  <div style="display:block" id="decisions_personal_info_box">
    
    <b>How many people have indicated a decision to receive Christ as their Savior and Lord through Personal Evangelism?</b>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Group Evangelism Decisions</h5>
  <div style="display:block" id="decisions_group_info_box">
    
    <b>How many people have indicated a decision to receive Christ as their Savior and Lord through Group Evangelism?</b>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Media Exposure Decisions</h5>
  <div style="display:block" id="decisions_media_info_box">
    
    <b>How many people have indicated a decision to receive Christ as their Savior and Lord through Media Exposures?</b>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Involved Students</h5>
  <div style="display:block" id="involved_students_info_box">
    
    <b>How many students attended the event?</b>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Dollars Raised</h5>
  <div style="display:block" id="dollars_raised_info_box">
    
    <b>How much in whole U.S. dollars was donated by attendees (not including conference fees and gear)?</b>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Student Leaders</h5>
  <div style="display:block" id="student_leaders_info_box">
    
    <b>How many student leaders are leading small groups of Win, Build, Send ministry? 
    <br/>(For instance:  groups focused on reaching target audiences, launching movements, etc)</b>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Multipliers</h5>
  <div style="display:block" id="multipliers_info_box">
    
    <b>How many students are currently involved in spiritual multiplication at the most organic level? 
    <br/>That is: (a) seeking to grow in Christ; and (b) seeking to share their faith 
    and pass on to others the foundational concepts of the Christian living 
    they are receiving?</b>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Laborers Sent</h5>
  <div style="display:block" id="laborers_sent_info_box">
    
    <b>A graduated Christ-centered laborer (non-staff) is someone who is growing in his/her faith, 
    is multiplying his/her life, and has been sent with a personal strategy to help fulfill the 
    Great Commission.</b>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Holy Spirit Presentations</h5>
  <div style="display:block" id="holy_spirit_conversations_info_box">
    
    <b>How many people have heard a presentation of the ministry of the Holy Spirit
    with the opportunity to respond?</b>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Seekers</h5>
  <div style="display:block" id="seekers_info_box">
    
    <b>This statistic is for Bridges movements only.</b>
    
  </div>
</div>
<script type="text/javascript" language="javascript">
  document.getElementById("input_key").style.display="none";
</script>
