<h1>Enter Movement Indicators for Special Event</h1>
<h2>Important:<br/>Do NOT enter Movement Indicators here if they are tied to a particular Ministry Location, Summer Project, or CRS conference.</h2>
<div class="enter_stat" id="enter_stat">
  <div style="clear:both"></div>
  
  <%= form_tag create_digital_stats_path, :method => :put, :name => "fast_ll_stat", :id => "fast_ll_stat" do %>
    <%= hidden_field_tag 'redirect', @redirect %>
    
    <fieldset id="fieldset_ministry">
      <legend>Event Name</legend>
      <label>Ongoing Event:</label>
      <%= select_tag 'event', options_for_select(@events, @event) %>
      
      <h4 class="thin">OR</h4>
      
      <label>One-Time Event Type:</label>
      <%= select_tag 'type', options_for_select(@types, @type) %>
      <br/>
      <label>One-Time Event Name:</label>
      <%= text_field_tag 'name', @name %>
    </fieldset>
    
    <div style="clear:both"></div>
    <br/>

    <label>Start Date:</label>
    <%= date_select nil, 'from_date', :default => @from_date %><br/>
    
    <label>End Date:</label>
    <%= date_select nil, 'to_date', :default => @to_date %><br/>

    <label>Region (if applicable):</label>
    <%= select_tag 'region', options_for_select(@regions, @region) %><br/>

    <label>Strategy these stats will be associated with for reports:</label>
    <%= select_tag 'strategy', options_for_select(@strategies, @strategy), :id => "str" %><br/>
    
    <% javascript_counter = 0 %>
    <ul class="results" style="height: 337px;">
      <% if @stats %> <!-- There were errors from saving -->
        <% @stats.each do |stat| %>
          <%= render :partial => "stat_entry", :locals => {:stat => stat, :year => @year, :counter => javascript_counter} %>
          <% javascript_counter += 1 %>
        <% end %>
      <% else %>
        <%= render :partial => "stat_entry", :locals => {:stat => @stat, :year => @year, :counter => javascript_counter} %>
        <% javascript_counter += 1 %>
      <% end %>
    </ul>
    
    <center>
      <div class="stats_submit_surround">
        <%= image_submit_tag "submit.png" %>
      </div>
    </center>
  <% end %>
</div>

<%= render :partial => "infobox_js" %>