<h1>Enter Movement Indicators for <%= @year.to_s + " " if @year %><%= @name %></h1>
<div class="enter_stat" id="enter_stat">
  <div style="clear:both"></div>
  
  <%= form_tag stats_path, :method => :put, :name => "fast_ll_stat", :id => "fast_ll_stat" do %>
    <%= hidden_field_tag 'redirect', @redirect %>
    
    <div>
      <label>Strategy these stats will be associated with for reports:</label><br/>
      <%= select_tag 'strategy', options_for_select(@strategies, @movements.first.strategy) %><br/>
    </div>
    
    <% javascript_counter = 0 %>
    <ul class="results">
      <% if @stats %> <!-- There were errors from saving -->
        <% @stats.each do |stat| %>
          <%= render :partial => "stat_entry", :locals => {:stat => stat, :year => @year, :counter => javascript_counter} %>
          <% javascript_counter += 1 %>
        <% end %>
      <% else %>
        <% @movements.each do |movement| %>
          <% if @type == "SP" %>
            <% stat = movement.get_sp_stat_for(@year, @period_begin, @period_end) %>
          <% elsif @type == "C2" %>
            <% stat = movement.get_crs_stat_for(@period_begin, @period_end) %>
          <% end %>
          <%= render :partial => "stat_entry", :locals => {:stat => stat, :year => @year, :counter => javascript_counter} %>
          <% javascript_counter += 1 %>
        <% end %>
      <% end %>
    </ul>
    
    <center>
      <div class="stats_submit_surround">
        <%= image_submit_tag "submit.png" %>
      </div>
    </center>
  <% end %>
</div>

<%= render :partial => "infobox_js" %>