<!-- TODO: hover help boxes -->
<h1>Enter Stats</h1>
<div class="enter_stat" id="enter_stat">
  <div style="float:right;">
    <ul id="tab_wrapper">
      <% 14.downto(0) do |week_ago| %>
        <% sunday = @current_week - week_ago.weeks %>
        <li class="weekTab" style="<%= first_week(sunday) ? "background:#D3D3D3" : "" %>">
          <!-- TODO: link to each week -->
          <%= display_birthday(sunday) %><br/>to<br/><%= display_birthday(sunday + 6.days) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div style="clear:both"></div>
  
  <%= form_tag stats_path, :method => :put, :name => "fast_ll_stat", :id => "fast_ll_stat" do %>
    <%= image_submit_tag "/images/submit_bon.gif" %>
  <% end %>
</div>
