<h1>Movement Indicators Report</h1>
<%= form_tag do_report_path, :name => "reportCriteria" do %>
  <div class="strategy">
    <div class="details">  
      <div class="thecolumn" style="float: left;">
        <div class="field">
          <br/><br/>
          <label>Ministries:</label>

          <div class="box">
            <ul id="boxes" style="list-style:none;background:none;height:auto;text-alogn:left;" >
              <li><%= image_tag "checkAll.gif", :id => "checkAllButton", :onClick=>"check();" %></li>
              <% @strategies.each_key do |strategy| %>
                <li>
                  <%= check_box_tag("strategies[]", strategy) %>
                  <%= @strategies[strategy] %>
                </li>
              <% end %>
            </ul>
          </div>
        </div><!-- end field -->
        <div class="clear"></div>
      </div>

      <div class="thecolumn" style="float: right; margin-top: 30px;">
        <div class="field">
          <label>Type:</label>

          <div class="box">
            <ul style="list-style:none;background:none;height:auto;">
              <li><%= radio_button_tag "event_type", "campus", true %>Campus Report (traditional Movement Indicators report)</li>
              <li><%= radio_button_tag "event_type", "conference", false, :onClick => "checkAll();" %>Conference Stats</li>
              <li><%= radio_button_tag "event_type", "SP", false, :onClick => "checkAll();" %>Summer Project Stats</li>
              <li><%= radio_button_tag "event_type", "website", false, :disabled => true, :onClick => "checkAll();" %>Website Stats (coming soon)</li>
            </ul>
          </div>
        </div>
     
        <div class="field">
          <label>Date Range:</label>

          <div class="box">
            <ul style="list-style:none;background:none;height:auto;">
              <li>From:&nbsp;
                <%= date_select nil, "from", :discard_day => true, :default => last_august %>
              </li>
              <li >To:&nbsp;
                <%= date_select nil, "to", :discard_day => true %>
              </li>
            </ul>
          </div>
        </div>

        <div class="field">
          <label>Movement Status:</label>

          <div class="box">
            <ul style="list-style:none;background:none;height:auto;">
              <% @statuses.each_key do |status| %>
              <li>
                <%= check_box_tag("movementstatus[]", status, {:checked=>true}) %><%=  Activity.statuses[status] %>
              </li>
              <% end%>
            </ul>
          </div>
        </div>
    
        <div class="field">
        </div>
    
        <div class="field">
          Report will cover from the first of the "from" month through the end of the "to" month.<br/>
          For a particular school year or range of school years, choose August for From and To months and the appropriate From/To years.<br/> 
        </div>
        
        <div class="field">
          <%= submit_tag "Display Report" %> or
          <%= submit_tag "Download Spreadsheet Report" %>
        </div>
  
        <div class="clear"></div> 
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
