<h1>Success Criteria Report</h1>

<div id="innercontent">
  <div id="stat_report">
    <p class="report_top">
      <br/>
      <b><%= @report_type %> Report</b><br/>
      For dates: <%= display_date(@from_date) %> up to but not including <%= display_date(@to_date) %><br><!-- TODO: change to *real* dates -->
      
      <% strategies = "" %>
      <% @strategies_list.each do |strategy| %>
        <% strategies += Activity.strategies[strategy] + ", " %>
      <% end %>
      <% if !strategies.blank? %>
        Including strategies: <%= strategies.chop.chop %>
      <% end %>
    </p>

    <% @reports.each do |report| %>
      <%= render :partial => 'report_header_bar', :locals => { :row_type => report.row_type } %>
  
      <% report.rows.each do |row| %>
        <div class="regular">
          <% if row.is_bridges? %>
            <%= render :partial => 'bridges_report_row', :locals => { :report => report, :row => row } %>
          <% else %>
            <%= render :partial => 'report_row', :locals => { :report => report, :row => row } %>
          <% end %>
        </div>
      <% end %>
  
      <%= render :partial => 'report_header_bar', :locals => { :row_type => report.row_type } %>
  
      <div class="regular">
        <table class="row">
          <tr>
            <td class="report_header_label"><center> Totals </center></td>
            <% Statistic.weekly_stats.each do |stat| %>
              <td class="report_header"><%= report.get_totals.send(stat) %></td>
            <% end %>
            <% Statistic.semester_stats.each do |stat| %>
              <td class="report_header"><%= report.get_totals.send(stat) %></td>
            <% end %>
          </tr>
        </table>
      </div>
      <br/>
    <% end %>
    
    <%= link_to "[Zoom Out to Team]<br/>".html_safe, team_report_path(@team.id, {:from => @from_date, :to => @to_date, :strategies => @strategies_list}) if @location %>
    <%= link_to "[Zoom Out to Regional]<br/>".html_safe, regional_report_path(@region, {:from => @from_date, :to => @to_date, :strategies => @strategies_list}) if @team %>
    <%= link_to "[Zoom Out to National]<br/>".html_safe, national_report_path({:from => @from_date, :to => @to_date, :strategies => @strategies_list}) if @region %>
  </div>
</div>