<h2>Welcome to the Location Home page.</h2>
<b>Look for your Location by selecting the Region below:</b>
<br/>
<table>
  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td>
          <%= link_to region.name, location_region_path(region.abbrv) %>
          <%= link_to "(all)", location_region_all_path(region.abbrv, "all") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<b>Or search by Strategy:</b>
<br/>
<table>
  <tbody>
    <% @strategies.each_key do |strategy| %>
      <tr>
        <td><%= link_to @strategies[strategy], location_ministry_path(strategy) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<b>Or search by City Gate:</b>
<table>
  <tbody>
  <tr>
    <td><%= link_to 'All Cities', search_results_locations_path(cru_city: true) %></td>
  </tr>
  <% @city_strategies.each_key do |strategy| %>
    <tr>
      <td><%= link_to @city_strategies[strategy], location_ministry_path(strategy) %></td>
    </tr>
  <% end %>
  </tbody>
</table>