<h1>
  <%= @location.name %>&nbsp;&nbsp;
  <%= link_to "", edit_location_path(@location), :class => "editfield" %>
  <%= link_to "(edit)", edit_location_path(@location), :class => "edittext" %>
</h1>

<h3 class="indented">
  Details about this Location
  &nbsp;&nbsp;<%= link_to "View Report", @reports_link %>
</h3>

<div class="strategy">
  <div class="details">
    <div class="thecolumn">
      <div class="field">
        <label>Address:</label>
        <div class="box">
          <%= @location.address1 %>&nbsp;<%= @location.address2 %><br>
          <%= @location.city %><%= (@location.state.blank? || @location.city.blank? ? "" : ",") %>
          <%= @location.state %><br>
          <%= @location.zip %><%= (@location.country.blank? || @location.zip.blank? ? "" : ",") %>
          <%= @location.country %><br>
        </div>
      </div>
                        
      <div class="field">
        <label>Region:</label>
        <%= Region.full_name(@location.region) %>
      </div>
      <br/>
      
      <div class="field">
        <label>Phone:</label>
        <%= @location.phone %>                            
      </div>
      <br/>

      <div class="field">
        <label>Email:</label>
        <%= @location.email %>                            
      </div>
    </div>
    
    <div class="thecolumn">
      <div class="field">
        <label>Enrollment:</label>
        <%= @location.enrollment %>
      </div>
      <br/>

      <div class="field">
        <label>Semester?</label>
        <%= @location.is_semester? %>
      </div>
      <br/>

      <div class="field">
        <label>School Year:</label>
        <%= @location.monthSchoolStarts %> - <%= @location.monthSchoolStops %>
      </div>
      <br/>

      <div class="field">
        <label>School Website:</label>
        <%= link_to display_website(@location.infoUrl), display_website(@location.infoUrl) %>
      </div>
      <br/>

      <% if !@location.urlToLogo.blank? %>
        <div class="field">
          <%= image_tag display_website(@location.urlToLogo), :alt => "" %>
        </div>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
</div>

<% @location.activities.each do |activity| %>
  <div class="strategy">
    <h3>
      <%= Activity.strategies[activity.strategy] %>&nbsp;&nbsp;
      <%= link_to "", edit_location_movement_path(@location, activity), :class => "editfield" %>
      <%= link_to "(edit)", edit_location_movement_path(@location, activity), :class => "edittext" %>
    </h3>
    <br/>
    <div class="details">
      <div class="thecolumn" style="float: left;">
        <div class="field">
          <label>Status:</label>
          <%= link_to Activity.statuses[activity.status], edit_location_movement_path(@location, activity) %>
        </div>
        <br/>

        <div class="field">
          <label>Contacts:</label>
          <div class="box">
            <% activity.contacts.each do |contact| %>
              <%= link_to contact.full_name, person_path(contact) %>
              <% if @info_user.can_delete_contacts? || current_user.person.personID == contact.personID || activity.team.is_leader?(@current_user.person) %>
                <%= link_to "", movement_remove_contact_path(@location, activity, contact.personID.to_s), :method => :delete, :confirm => "Are you sure?", :class => "deletefield" %>
              <% end %>
              <br/>
            <% end %>
            <% if !activity.contacts.include?(@current_user.person) %>
              <%= link_to "Become a Contact for this Movement", movement_add_contact_path(@location, activity, @current_user.person.personID.to_s), :method => :post %><br/>
            <% end %>
            <% if @info_user.can_add_contacts? %>
              <%= link_to "Add Contact", search_contacts_location_movement_path(@location, activity) %>
            <% end %>
          </div>
        </div>

        <div class="clear"></div>
      </div>

      <div class="thecolumn" style="float: right;">
        <div class="field">
          <label>Missional Team:</label>
          <%= link_to activity.team.name, team_path(activity.team) if activity.team %>
        </div>
        <br/>

        <div class="field">
          <label>Size:</label>
          <%= activity_size(activity) %>
          (<%= link_to "Enter Stats", stats_movement_path(@location, activity) %>)
        </div>
        <br/>

        <div class="field">
          <label>Facebook:</label>
          <%= link_to display_website(activity.facebook), display_website(activity.facebook) if !activity.facebook.blank? %> 
        </div>
        <br/>

        <div class="field">
          <label>Website:</label>
          <%= link_to display_website(activity.url), display_website(activity.url) if !activity.url.blank? %>
        </div>

        <div class="clear"></div>
      </div>

      <div class="clear"></div>
    </div><!-- end detail -->
  </div><!-- end strategy -->
<% end %>
 
<% @open_strategies.each do |strategy| %>
  <%= link_to "Add " + Activity.strategies[strategy], location_new_strategy_path(@location, strategy) %><br/>
<% end %>
