<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Infobase" %></title>
  <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>
    /* Banner bar background style */
    #bannerBar {
      background: url("/assets/header_images/<%= random_banner_image %>") no-repeat;
      height: 116px;
      clear: both;
      border-bottom: 3px solid #969f5e;
    }
  </style>
</head>
<body>
  <div id="wrapper">
    <%= render :partial => "headers/staffsite_small" %>
    <div id="innerwrapper">
      <div id="logobar">
        <div class="logoside">
          <%= link_to "", root_path, :class => "logo", :alt => "InfoBase Home" %>
          <div id="helpside" class="float-right">
            <a class="help" target="_blank" href="http://wiki.uscm.org/display/NCO/Infobase+Help">
              <%= image_tag "help_smaller.jpeg", :id=>"helpImg", :alt=>"help" %></br>InfoBase Help
            </a>
          </div>
        </div><!-- logoside -->
      </div><!-- logobar -->
  
      <%= render :partial => "headers/menubar" %>
      <div id="bannerBar"></div>
      
      <div id="content">
        <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
      
      <div class="clear"></div>

      <div id="footer">
        <div class="copyright" >&copy; Copyright <%=Time.now.year%> Cru<br/></div>
        <a href="http://crutech.org/helpdesk/ServiceRequest" class="helplink">Help Request</a>
      </div>
    </div>
  </div>
</body>
</html>
